body {
    background-color: #434242;
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    color: #ffffff;
}

form {
    background-color: #626262;
    width: 400px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
}

input[type="submit"] {
    background-color: #949494;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #707070;
}

table {
    margin: 40px auto;
    border-collapse: collapse;
    background-color: #979797;
}

td {
    border: 3px solid #ffffff;
    padding: 10px 15px;
}
